.middle-slide {
    transform: scale(1.6); /* Adjust the scale factor as needed */
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the modal is on top of everything else */
  }
  
  .modal {
     width: 100%;
     height: 100%;
     
    padding: 20px;
 
    overflow: auto;
    position: relative;
  }
  .modal img {
    max-width: 100%; /* Ensure the image doesn't exceed the modal width */
    max-height: 100%; /* Ensure the image doesn't exceed the modal height */
    object-fit: contain; /* Keep the image's aspect ratio */
  }