@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "NOVAL";
  src: url('/fonts/NovaOval.ttf');
}
@font-face {
  font-family: "ALEX";
  src: url('/fonts/AlexBrush-Regular.ttf');
}
@font-face {
  font-family: "FLAT";
  src: url('/fonts/NovaFlatSlim-Bold.ttf');
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  color: rgb(var(--foreground-rgb));
 
}
